@import 'variables.scss';

.navbar {
  height: 40px;
  background-color: #fff;
  text-align: center;
  font-size: 13px;
  font-family: "Myriad Pro";
  li {
    .navbar-brand {
      padding: 8px;
      margin-right: 20px;
    }
    //width: 90px;
    .btn {
      height: 20px;
      padding-left: 10px;
      margin-top: 8px;
      width: 90px;
      text-align: left;
      font-size: 13px;
      background-color: rgba(0,0,0, 0.15);
      line-height: 2px;
    }
  }
  a {
    .navbar-brand {
      padding: 10px 10px 10px 0;
    }
  }
}

body {
  font-family: "Helvetica Neue";
  font-size: 16px;
  background-color: rgb(239, 242, 242);
  h1 {
    font-size: 20px;
  }
}


.header-container {
  margin-bottom: 15px;
  text-align: center;
  h1 {
    display: inline-block;
    margin-top: 4px;
    font-family: "Myriad Pro";
  }
  p {
    display: none;
    font-size: 14px;
    margin-top: 4px;
    margin-right: -7px;
  }
}

.header-of-system {
  margin-bottom: 20px;
}

.panel {
  padding: 0 22px 22px 22px;
}
.order-from-systems {
  hr {
    margin: 0;
  }
}

.all-order.panel {
    padding-top: 20px;
    hr {
      margin-top: 12px;
      margin-bottom: 12px;
    }
    a {
      font-size: 14px;
    }
    h1 {
      p {
        margin-top: -10px;
        margin-bottom: 19px;
      }
    }
  }

.order-form {
  display: block;
  color: #909090;
}

.sign-about-license {
  font-size: 14px;
  color: #909090;
  margin-bottom: 15px;
  .text-nowrap {
    margin: 0;
  }
}

.form-group.right {
  display: inline-block;
  label.order-form {
    text-align: right;
  }
}


.finally-sum {
  font-size: 30px;
  font-weight: bold;
  small {
    font-size: 14px;
    font-weight: normal;
  }
}
.btn-danger {
  background: linear-gradient(to bottom, rgb(255, 72, 27), rgb(195, 37, 38));
}

label {
  font-weight: normal;
}

.checkbox-label {
  font-size: 14px;
  margin-top: -25px;
  margin-bottom: 6px;
  input {
    position: absolute;
  }
  label {
    position: relative;
    left: 20px;
  }
}

.offers {
  margin-top: 80px;
  width: 100%;
  background-color: #fff;
  h1 {
    font-weight: normal;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    //padding: 15px;
  .get-off, .corporate-offer {
    width: 70%;
    margin: 65px 25px 65px 25px;
  }
  }
}
.footer {
  margin-bottom: 25px;
  font-size: 13px;
  color: #909090;
  p {
    margin: 5px;
  }
}

@media (min-width: 768px){
  .navbar-nav{
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
  }
}

select.form-control {
  width: 100%;
}

.price-sum {
  text-align: left;
  margin-bottom: 24px;
  #price-of-Windows-port, #price-of-linux-port, #price-of-mac-port {
    display: inline;
  }
  .sign-about-license {
    display: block;
  }
  .sign-about-license.text-nowrap {
    display: inline;
  }
}

.quantity {
  .sign-about-license {
    display: block;
  }
  #quantity-windows {
    text-align: right;
    display: block;
  }
}

.total-sum {
  display: none;
}



@media (min-width: 768px) {
  .header-container {
    text-align: left;
    p {
      display: inline-block;
      font-size: 14px;
      margin-top: 4px;
      margin-right: -7px;
    }
  }
  .panel {
    padding: 0 22px 0px 22px;
  }
  .price-sum {
    text-align: right;
    margin-bottom: 0;
    #price-of-Windows-port, #price-of-linux-port, #price-of-mac-port {
      display: block;
    }
    .sign-about-license.text-nowrap {
      display: inline-block;
    }
  }
  .total-sum {
    display: inline-block;
  }
  select.form-control {
    width: 90%;
  }
  .row {
    display: flex;
  }
  .order-from-systems {
    height: 100%;
  }
  .all-order {
    height: 100%;
  }
}
